@media screen and (min-width: 800px) {
    #card-header {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media screen and (min-width: 875px) {
    #card-header {
      grid-template-columns: repeat(4, 1fr);
    }
  }